<footer >
    <div >
        <div class="col-12">
            <p class="text-center">Tous droits réservés</p>
        </div>
        <p class="text-center fw-bold">
            made with <i class="bi bi-heart-fill text-danger"></i> by <a href="#" class="text-decoration-none texte-dark">Phill</a>
        </p>
    </div>

</footer>

